/*
--- Header_1 Start ---
*/

.rb-header-1 {
  &-area {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    background-color: transparent;
    padding-top: 20px;

    .topbar-wrap {
      background: #FFFFFF;
      box-shadow: inset 0px 20px 46px #F1F3FF, inset 2.25px -7px 44px #F1F3FF;
      border-radius: 10px;
      padding: 19px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      gap: 30px 230px;

      @media #{$md, $sm, $xs} {
        display: none;
      }

      .topbar-left {
          display: flex;
          align-items: center;
          gap: 30px;

          .item {
              font-family: var(--inter);
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: var(--rb-body-color-1);
              position: relative;


              &:not(:last-child) {
                  &::after {
                      content: "";
                      width: 1px;
                      height: 100%;
                      background-color: rgba(42, 48, 61, 0.15);
                      position: absolute;
                      right: -15.5px;
                  }
              }

              img {
                  transform: translateY(2px);
              }
              a {
                transition: all 0.3s ease;

                &:hover{
                  color: var(--rb-pr-color-1);
                }
              }
          }
      }
      .header-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
      }
      .topbar-right {
          display: flex;
          align-items: center;
          gap: 41px;

          .language-swtch {
            .nice-select {
              font-family: var(--inter);
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: var(--rb-body-color-1);
              height: auto;
              border: 0;
              background-color: transparent;
              padding-left: 22px;
              padding-right: 28px;

              &::before {
                content: "";
                background: url('../img/header/h1-earth.svg');
                width: 14px;
                height: 14px;
                position: absolute;
                left: 0;
                top: 2px;
              }

              &::after {
                width: 6px;
                height: 6px;
                border-color: var(--rb-body-color-1);
                top: 49%;
              }

              .current {
                transition: color 0.3s ease;
                &:hover {
                  color: var(--rb-pr-color-1);
                }
              }

              .list {
                margin-top: 15px;

                .focus {
                  background-color: var(--rb-pr-color-1);
                  font-weight: normal;
                  color: #000;
                }
                .option {
                  &:hover {
                    background-color: var(--rb-pr-color-1);
                    color: #fff;
                  }
                }
              }
            }
          }

          .social-media {
              display: flex;
              align-items: center;
              gap: 12px;
              position: relative;

              &::after {
                  content: "";
                  width: 1px;
                  height: 100%;
                  background-color: rgba(42, 48, 61, 0.15);
                  position: absolute;
                  left: -20.5px;
              }

              .social-link {
                  font-size: 15px;
                  color: rgba(131, 138, 149, 0.8);
                  transition: all 0.3s ease;

                  &:hover {
                      color: var(--rb-pr-color-1);
                  }
              }
          }
      }
    }
  }
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    position: relative;
    border-bottom: 1px solid rgba(81, 98, 255, 0.1);

    @media #{$md, $sm, $xs} {
      padding-bottom: 20px;
    }
  }
  
  &-action {
    display: flex;
    align-items: center;
    gap: 30px;

    @media #{$xs} {
      display: none;
    }
  }

  &-side-btn {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    position: relative;

    @media #{$md, $sm, $xs} {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: rgba(0, 35, 75, 0.15);
      right: -15.5px;
    }

    svg {
      path {
        transition: all 0.3s ease;
      }
    }

    &:hover {
      svg {
        path {
          fill: var(--rb-pr-color-1);
        }
      }
    }
  }

  &-search-btn {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: rgba(0, 35, 75, 0.15);
      left: -15.5px;
    }

    svg {
      path {
        transition: all 0.3s ease;
      }
    }

    &:hover {
      svg {
        path {
          fill: var(--rb-pr-color-1);
        }
      }
    }
  }

  &-cart-btn {
    width: 31px;
    position: relative;

    .icon {
      transform: translateY(3px);
      display: inline-block;
    }

    .cart-count {
      position: absolute;
      width: 19px;
      height: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--rb-pr-color-1);
      color: #FFFFFF;
      font-family: var(--inter);
      font-weight: 700;
      font-size: 10px;
      line-height: 100%;
      text-align: center;
      letter-spacing: -0.04em;
      right: 0px;
      top: -10px;
    }

    svg {
      path {
        transition: all 0.3s ease;
      }
    }

    &:hover {
      svg {
        path {
          fill: var(--rb-pr-color-1);
        }
      }
    }
  }

  &-btn {
    padding: 7px 20px;
    background: radial-gradient(64.58% 59% at 37.13% 12%, rgba(255, 255, 255, 0.315) 0%, rgba(255, 255, 255, 0) 55.41%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #4C5DEF;
    box-shadow: 4px 10px 20px rgba(81, 99, 255, 0.26), inset -3px -4px 7px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 50%;
        background: var(--rb-gd-3);
        transition: all 0.5s ease;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 50%;
        background: var(--rb-gd-3);
        transition: all 0.5s ease;
    }


    @media #{$lg, $md, $sm, $xs} {
      display: none;
    }

    .btn-text {
      font-family: var(--inter);
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.01em;
      background: radial-gradient(63.11% 63.11% at 31.97% 19.67%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
      display: inline-block;
      position: relative;
      z-index: 2;
    }

    &:hover {
      &::after {
        width: 100%;
      }
      &::before {
          width: 100%;
      }
    }
  }

  &-mob-btn {
    border: none;
    background-color: transparent;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    padding: 0;
    display: none;

    @media #{$md, $sm, $xs} {
      display: grid;
    }

    span {
      display: inline-block;
      width: 4.5px;
      height: 4.5px;
      background-color: var(--rb-pr-color-1);
      border-radius: 50%;
      transition: all 0.5s ease;
    }

    &:hover {
      span {
        &:nth-child(1) {
          transform: translateY(17.4px);
        }
        &:nth-child(7) {
          transform: translateY(-17.4px);
        }
        &:nth-child(3) {
          transform: translateY(17.4px);
        }
        &:nth-child(9) {
          transform: translateY(-17.4px);
        }
        &:nth-child(2) {
          transform: translateY(17.4px);
        }
        &:nth-child(8) {
          transform: translateY(-17.4px);
        }
      }
    }
  }

  &-mob-logo {
    display: none;

    @media #{$md, $sm, $xs} {
      display: flex;
      align-items: center;
    }
  }
}
  
.main-navigation {
  @media #{$md, $sm, $xs} {
    display: none;
  }
  .navbar-nav {
    display: inherit;
    li {
      display: inline-block;
      position: relative;

      &:not(:last-child) {
        margin-right: 50px;

        @media #{$xl,$lg} {
          margin-right: 40px;
        }
      }
      
      &:is(.dropdown) {
        > a {
          padding-right: 15px;
          &::before {
            content: "\f107";
            font-family: "Font Awesome 6 Free";
            font-weight: 700;
            position: absolute;
            font-size: 15px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: 400ms var(--cube-2), color 400ms var(--cube-1);
          }
        }
      }

      a {
        position: relative;
        z-index: 1;
        font-family: var(--inter);
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: var(--rb-body-color-1);
        padding: 26.5px 0px 26.5px 0px;
        display: inline-block;
        text-transform: capitalize;
        line-height: 19px;
        transition: 400ms var(--cube-1);

        &::after {
          content: "";
          width: 0%;
          height: 2px;
          background-color: var(--rb-pr-color-1);
          position: absolute;
          left: 0;
          top: 18px;
          transition: 400ms var(--cube-1);
          opacity: 0;
        }
      }


      .dropdown-menu {
        left: 0;
        top: 100%;
        z-index: 100;
        margin: 0px;
        padding: 20px 20px;
        height: auto;
        min-width: 250px;
        display: block;
        border: none;
        border-top: 2px solid var(--rb-pr-color-1);
        box-shadow: 0 10px 50px 0 rgb(0 0 0 / 5%);
        border-radius: 0;
        position: absolute;
        background: #ffffff;
        border-radius: 2px;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px) translateZ(0);
        transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        

        @media #{$lg, $md} {
          min-width: 200px;
        }
        li {
          display: block;
          margin: 0;
          position: relative;

          a {
            color: var(--rb-body-color-1);
            width: 100%;
            font-weight: 500;
            display: block;
            padding: 10px 0px;
            font-size: 16px;
            position: relative;
          }


          .dropdown-menu {
            top: 0;
            left: calc(100% + 20px);
            min-width: 250px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(15px) translateZ(0);
            transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            
            @media #{$lg, $md} {
              min-width: 200px;
            }
          }

          &:hover {
            .dropdown-menu {
              opacity: 1;
              visibility: visible;
              transform: translateY(0px) translateZ(0);
            }

            > a {
              color: var(--rb-pr-color-1);
              padding-left: 12px;

              &::after {
                opacity: 1;
                width: 10px;
              }
            }
          }
        }
      }

      &:hover {
        > a {
          color: var(--rb-pr-color-1);

          &::before {
            transform: translateY(-50%) rotate(360deg);
          }
        }
        .dropdown-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px) translateZ(0);
        }
      }
    }
  }
}

/*
--- Header_1 End ---
*/
