/*
-- Hero-1 Start --
*/

.rb-hero-1 {
    &-main-wrap {
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
        padding: 231px 0 157px 0;
        overflow: hidden;

        @media #{$md, $sm, $xs} {
            padding: 140px 0 0 0;
        }
    }

    &-shape-top {
        position: absolute;
        top: 0;
        right: 0;
    }

    &-shape-bottom {
        position: absolute;
        bottom: -241px;
        left: 0;
    }
    
    &-wrap {
        position: relative;
    }

    &-shape-1 {
        position: absolute;
        left: -105px;
        top: 96px;
    }

    &-content {
        max-width: 1007px;
        position: relative;
        z-index: 2;

        @media #{$xl, $lg, $md} {
            max-width: 710px;
        }

        .title-wrap {
            position: relative;

            .title-shape {
                position: absolute;
                right: 0;
                top: -20px;

                @media #{$xl} {
                    top: -40px;
                }
                @media #{$lg, $md, $sm, $xs} {
                    display: none;
                }
            }
        }

        .disc {
            max-width: 574px;
        }
    }
    &-title {
        font-family: var(--inter);
        font-weight: 600;
        font-size: 100px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: var(--rb-black-color-1);
        margin: 0 0 26px 0;

        @media #{$xxxl} {
            font-size: 90px;
            line-height: 1.1;
        }
        @media #{$xxl} {
            font-size: 80px;
            line-height: 1.1;
        }
        @media #{$xl} {
            font-size: 60px;
            line-height: 1.1;
        }
        @media #{$lg} {
            font-size: 55px;
            line-height: 1.1;
        }
        @media #{$md} {
            font-size: 50px;
            line-height: 1.1;
        }
        @media #{$sm} {
            font-size: 40px;
            line-height: 1.1;
        }
        @media #{$xs} {
            font-size: 35px;
            line-height: 1.1;
        }

        .text-gd-1 {
            background: var(--rb-gd-1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .icon {
            display: inline-flex;
            transform: translateY(22px);

            @media #{$xxxl} {
                max-width: 80px;
            }
            @media #{$xxl} {
                max-width: 70px;
            }
            @media #{$xl, $lg} {
                transform: translateY(15px);
                max-width: 55px;
            }
            @media #{$md} {
                transform: translateY(8px);
                max-width: 40px;
            }
            @media #{$sm} {
                transform: translateY(7px);
                max-width: 35px;
            }
            @media #{$xs} {
                transform: translateY(6px);
                max-width: 30px;
            }
        }
    }
    &-action {
        margin-top: 50px;
        display: flex;
        align-items: center;
        gap: 20px 30px;
        flex-wrap: wrap;
    }

    &-call {
        display: grid;
        grid-template-columns: 50px auto;
        gap: 10px;
        align-items: center;

        .icon {
            width: 50px;
            height: 50px;
            opacity: 0.1;
            border: 2px solid var(--rb-black-color-1);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                img {
                    animation: zigzag 0.6s ease;
                }
            }
        }

        .call-cont {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .call-title {
                font-family: var(--inter);
                font-weight: 400;
                font-size: 13px;
                line-height: 100%;
                color: #838A95;
            }

            .call-link {
                font-family: var(--inter);
                font-weight: 500;
                font-size: 17px;
                line-height: 100%;
                color: var(--rb-black-color-1);
                transition: all 0.3s ease;

                &:hover {
                    color: var(--rb-pr-color-1);
                }
            }
        }
    }

    &-customer {
        margin-top: 60px;
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        .customer-img {
            display: flex;
            align-items: center;
        }

        .customer-cont {
            max-width: 198px;

            .number {
                font-family: var(--inter);
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                color: var(--rb-pr-color-1);
            }

            .customer-disc {
                font-family: var(--inter);
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                color: var(--rb-body-color-1);
            }
        }
    }

    &-banner-wrap {
        position: absolute;
        right: 0;
        bottom: -60px;
        display: flex;
        justify-content: center;

        @media #{$xxxl} {
            right: -70px;
            bottom: -110px;        
        }
        @media #{$xxl} {
            right: -180px;
            bottom: -110px;        
        }
        @media #{$xl, $lg, $md, $sm, $xs} {
            position: relative;
            right: auto;
            bottom: auto;
            max-width: 1092px;
            margin-left: auto;
            margin-top: 60px;
        }

        @media #{$sm, $xs} {
            margin-top: 100px;
        }


        .popup-video {
            width: 151px;
            height: 151px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            top: -68px;
            transform: translateX(59px);
            background: #FFFFFF;

            @media #{$lg, $md} {
                width: 120px;
                height: 120px;
                top: -48px;
                transform: translateX(56px);
            }

            @media #{$sm} {
                width: 100px;
                height: 100px;
                top: -50px;
                transform: translateX(30px);
            }

            @media #{$xs} {
                width: 100px;
                height: 100px;
                top: -70px;
                transform: translateX(15px);
            }
            
            .circle-text {
                animation: roateding 30s linear infinite;
                svg {
                    width: 176px;
                    height: 176px;

                    @media #{$lg, $md, $sm, $xs} {
                        width: 140px;
                        height: 140px;
                    }
                    @media #{$sm, $xs} {
                        width: 120px;
                        height: 120px;
                    }
                }
            }

            .icon {
                position: absolute;
                width: 60px;
                height: 60px;
                background: var(--rb-gd-2);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: #fff;
                font-size: 14px;
                transition: all 0.3s ease;

                @media #{$lg, $md, $sm, $xs} {
                    width: 40px;
                    height: 40px;
                    font-size: 12;
                }
            }

            &:hover {
                .icon {
                    color: var(--rb-pr-color-1);
                }
            }
        }
    }

    &-marquee {
        overflow: hidden;
        position: relative;
        padding-bottom: 21px;
        
        @media #{$xl, $lg, $md} {
            margin-top: -65px;
        }

        .rb-marquee-1 {
            background: var(--rb-gd-6);
            padding: 19px 0;
            position: relative;
            z-index: 2;
            overflow: hidden;
        }
    }
    &-mar-shape-1 {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: start;
    }
    &-mar-shape-2 {
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: end;
    }
    &-marquee-wrap {
        display: flex;
        align-items: center;
        gap: 30px;

        .icon {
            flex: 0 0 auto;
        }
    }
    &-marquee-text {
        font-family: var(--inter);
        font-weight: 700;
        font-size: 61.6px;
        line-height: 100%;
        text-transform: uppercase;
        -webkit-text-stroke-width: 1.5px;
        stroke-width: 1.5px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);
        stroke: rgba(255, 255, 255, 0.8);
        color: transparent;
        flex: 0 0 auto;

        @media #{$xs} {
            font-size: 40px;
        }
    }
}

/*
-- Hero-1 End --
*/