/*
-- Testimonial-1 Start --
*/

.rb-testimonial-1 {
    &-area {
        padding: 100px 0 97px 0;
    }

    &-slider {
        max-width: 1130px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }

    &-item {
        max-width: 744px;
        margin: 0 auto;
        position: relative;
        @media #{$xs} {
            padding-top: 180px;
        }

        .customer-img-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 19px;

            @media #{$xs} {
                gap: 10px;
            }

            .item {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid #fff;
            }

            .mid-item {
                position: relative;
                margin: 0 10px;

                @media #{$xs} {
                    position: absolute;
                    top: 0;
                }

                .item {
                    width: 143px;
                    height: 143px;
                    border-radius: 50%;
                }

                .quote-icon {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: var(--rb-pr-color-1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        blockquote {
            font-family: var(--inter);
            font-weight: 400;
            font-size: 24px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.01em;
            color: var(--rb-body-color-1);
            margin: 30px  0;

            .pr-text {
                color: var(--rb-black-color-1);
            }
        }

        .customer-info {
            text-align: center;
            
            .name {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: var(--rb-black-color-1);

                span {
                    font-weight: 400;
                    color: var(--rb-body-color-1);
                }
            }

            .rating {
                margin-top: 10px;
                display: flex;
                align-items: center;
                gap: 5px;
                justify-content: center;
            }
        }
    }

    &-control {
        position: absolute;
        top: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 2;

        @media #{$sm, $xs} {
            position: static;
            justify-content: center;
            gap: 15px;
            margin-top: 30px;
        }
    }

    &-next, &-prev {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: transparent;
        border: 2px solid rgba(81, 99, 255, 0.2);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        position: relative;
        cursor: pointer;
        transition: all 0.4s ease;
        z-index: 3;

        &::after {
            content: "";
            position: absolute;
            width: 62px;
            height: 62px;
            border-radius: 50%;
            background: var(--rb-gd-3);
            transform: scale(0);
            transition: all 0.4s ease;
        }

        .icon-1 {
            position: absolute;
            opacity: 0;
            transition: all 0.4s ease;
            z-index: 2;
        }
        .icon-2 {
            position: relative;
            z-index: 2;
            transition: all 0.4s ease;
        }

        &:hover {
            &::after {
                transform: scale(1);
            }

            .icon-1 {
                opacity: 1;
            }
            .icon-2 {
                opacity: 0;
            }
        }
    }
    &-prev {
        .icon-2 {
            transform: rotate(180deg) translateY(1px);
        }
    }
    &-next {
        .icon-1 {
            transform: rotate(180deg) translateY(1px);
        }
    }
}

/*
-- Testimonial-1 End --
*/