/*
-- Paragraph Start --
*/

.rb-para-1 {
    font-family: var(--inter);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: rgba(131, 138, 149, 0.9);
    margin-bottom: 0;
}

/*
-- Paragraph End --
*/